<h1>Hydrane Angular Frontend Dev CS</h1>
<div fxLayout="row" fxLayoutGap="10px">
  <mat-form-field>
    <mat-label>Continent</mat-label>
    <mat-select [(value)]="selectedContinent" (selectionChange)="onContinentSelected($event)">
      <mat-option *ngFor="let continent of continentOptions" [value]="continent">
        {{continent}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Metric</mat-label>
    <mat-select [(value)]="selectedMetrics">
      <mat-option *ngFor="let metricOption of metricOptions" [value]="metricOption.value">
        {{metricOption.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Chart results</mat-label>
    <mat-select [(value)]="maxChartResults">
      <mat-option *ngFor="let maxChartResultOption of maxChartResultOptions" [value]="maxChartResultOption">
        {{maxChartResultOption}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="filteredCountriesData">
  <div>
    <app-country-metric-chart
      *ngFor="let metric of selectedMetrics"
      [countriesData]="filteredCountriesData"
      [metric]="metric"
      [maxChartResults]="maxChartResults"
    ></app-country-metric-chart>
  </div>
  <mat-table #table [dataSource]="tableLoadedCountriesData" (scroll)="onTableScroll($event)">
    <!-- Continent Name -->
    <ng-container matColumnDef="continentName">
      <mat-header-cell *matHeaderCellDef>Continent</mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.continentName}} </mat-cell>
    </ng-container>

    <!-- Country Name -->
    <ng-container matColumnDef="countryName">
      <mat-header-cell *matHeaderCellDef>Country</mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country.countryName}} </mat-cell>
    </ng-container>

    <!-- Metric columns -->
    <ng-container *ngFor="let metric of selectedMetrics" [matColumnDef]="metric">
      <mat-header-cell class="sort-icon" *matHeaderCellDef (click)="setSortingMetric(metric)">
        {{metric}}
        <mat-icon *ngIf="sortingMetric === metric && !sortAscending" matTooltip="Sort">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="sortingMetric === metric && sortAscending" matTooltip="Sort">keyboard_arrow_up</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let country"> {{country[metric]}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['countryName', 'continentName'].concat(selectedMetrics)"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['countryName', 'continentName'].concat(selectedMetrics) "></mat-row>
  </mat-table>
</div>
<router-outlet></router-outlet>
